/* .project */
.project {
   display: flex;
}
.project {
   position: relative;
   margin: 10px 8px;
   border-radius: 10px;
   padding: 10px;
   width: 220px;
   height: 340px;
   /* margin: 12px; */
   flex: 0 1 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.project img {
   zoom: 400%;
}
.project .content {
   position: absolute;
   bottom: 30px;
}
.project p {
   margin: 0;
}
.project p:last-of-type {
   margin-bottom: 5px;
   font-weight: 400;
}
.project a {
   margin: 10px;
   /* color: lime; */
   background: white;
   border-radius: 50%;
   padding: 5px;
   transition: all 0.5s ease-in;

   /* margin-top: 10px; */
}
.project a:hover{
   background: lime;
   color: white;
}
.project .title {
   font-weight: 600;
}
.project .tech {
   font-family: var(--secondaryfont);
   font-weight: 500;
}
