// .details-wrapper {
.details {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  .image {
    max-width: 200px;
    border-radius: 5rem 0 0 5rem;
    // box-shadow: 100px -40px 50px rgba(0, 255, 0, 0.4);
    transition: all 1s ease-in-out;
    transform: translateY(-170%) scale(3);
    background-color: black;
    padding: 10px;
    padding-bottom: 2rem;
    padding-left: 2rem;
    margin-top: 10px;
    img {
      width: 100%;
      border-radius: 0 0 10px 1.5rem;
    }
  }
  .contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    //  margin-top: 5px;
    border-bottom: 2px solid rgb(56, 1, 56);
    width: 100%;
    padding: 10px;
    a {
      text-decoration: none;
      color: white;
      padding: 10px;
      transition: all 0.3s ease-in;
    }
    a:hover {
      background: rgb(116, 3, 116);
      color: black;
    }
    .scrolldown {
      display: none;
    }
  }
  h2 {
    font-family: var(--secondaryfont);
    font-size: 1.1rem;
    margin: 5px;
  }
  h1 {
    font-family: var(--primaryFont);
    margin: 0;
    text-align: center;
  }
  position: relative;

  @media screen and (min-width: 766px) {
    width: 50%;
    //  align-items: flex-end;
    margin-left: auto;
    text-align: center;
    .cv {
      margin: 1.2rem;
    }
    .contacts {
      flex-direction: column;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -40%;
      width: fit-content;
      border-bottom: none;
      // border-right: 2px solid rgb(56, 1, 56);
      // border: 1px solid;
      background-color: linear-gradient(180deg, white, blue);
      border-radius: 15px;
      height: 70%;
      .scrolldown {
        display: block;
        background-color: #e3e3e3;
        padding: 5px;
        border-radius: 25%;
        margin-top: auto;
        transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      }
      .scrolldown:hover {
        background-color: white;
        transform: translateY(15px);
      }
    }
  }
}
// }
