// .details-wrapper {
.details {
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  .image {
    max-width: 200px;
    border-radius: 5rem 0 0 5rem;
    // box-shadow: 100px -40px 50px rgba(0, 255, 0, 0.4);
    transition: all 1s ease-in-out;
    transform: translateY(-170%) scale(3);
    background-color: black;
    padding: 10px;
    padding-bottom: 2rem;
    margin-top: 10px;
    img {
      width: 100%;
      border-radius: 0 0 10px 1.5rem;
    }
  }
  a {
    text-decoration: none;
    color: black;
    background: lime;
    padding: 8px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    transition: all 0.3s ease-in;
  }
  a:hover {
    background: rgb(1, 153, 1);
    color: white;
  }
  h2 {
    font-family: var(--secondaryfont);
    font-size: 1.1rem;
    margin: 0;
  }
  h1 {
    font-family: var(--primaryFont);
    margin: 0;
  }
  position: relative;

  @media screen and (min-width: 766px) {
    width: 50%;
    //  align-items: flex-end;
    margin-left: auto;
    text-align: center;
  }
}
// }
