.App {
   text-align: center;
}
.nav {
   background: rgb(235, 231, 231);
   padding: 1px;
   padding: 8px;
   margin: 5px 0;
   transition: all 0.5s ease;
   position: sticky;
   top: 0;
   z-index: 1;
   box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.253);
}

.nav a {
   padding: 8px;
   margin: 0 1px;
   background: rgb(221, 220, 220);
   transition: all 0.5s ease;
}
.active {
   /* color: lime; */
   background: rgb(63, 25, 25);
   font-weight: bold;
   box-shadow: 0 2px 2px lime;
}

@media screen and (min-width: 766px) {
   .nav a {
      padding: 20px;
   }
}
