@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Krona+One&family=Roboto&display=swap");
html {
   box-sizing: border-box;
}
*,
*:before,
*:after {
   box-sizing: inherit;
}
:root {
   --mainFont: "Roboto", sans-serif;
   --primaryFont: "Krona One", sans-serif;
   --secondaryfont: "DotGothic16", sans-serif;
}
body {
   margin: 0;
   font-family: var(--mainFont);
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}
a {
   color: black;
}
.skills,
.projects,
.about {
   transition: all 0.5s ease-in;
   opacity: 0.1;
}
